.parent {
    height: 100%;
    width: 200%;      /* Make the parent element to take up twice
                        of the component's width */
    display: flex;    /* Align all children in a row */
}
.back-button {
    position: absolute;
    left: 5px;
    top: 20px;
}

.parent div { 
    flex: 1;
    position: relative; 
}  /* Evenly divide width between children */