<div class="panel-container">
  <app-slide-panel [activePane]="mainPanelVisible ? 'right' : 'left'">
    <div class="left-pane" leftPane>
      <span>UI Elements</span>
      <input type="text">
      <textarea name="" id="" cols="30" rows="10"></textarea>
      <select name="" id=""></select>
      <button (click)="toggleMainPanel()">
        Option
      </button>
    </div>
    <div class="right-pane" rightPane>
      <button (click)="toggleMainPanel()">
        <<
      </button>
      <div>Option details</div>
      <span>UI Elements</span>
      <input type="text">
      <textarea name="" id="" cols="30" rows="10"></textarea>
      <select name="" id=""></select>
    </div>
  </app-slide-panel>
</div>