
button {
    font-size: 24px;
}
  
.panel-container {
    border: 6px solid #FF6060;
    max-width: 500px;
    height: 350px;
    display: block;
    overflow: hidden;
}
  
app-slide-panel div {
    font: 20px sans-serif;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}
  
app-slide-panel .panes {
    border: 6px dashed #4990E2;
    box-sizing: border-box;
}
  
  [leftPane]  { background-color: #FFF897; }
  [rightPane] { background-color: #6CE6CB; }